.button-light {
    background-color: $color-white;
    border: 1px solid $color-white;
    padding: $spacing-normal $spacing-ultra-large;
    color: $color-accent;
    font-size: $font-size-large;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    transition: $transition;
}

.button-light:hover {
    text-shadow: 0 0 20px $color-accent;
}