.footer {
    padding-top: 80px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__main-box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.footer__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 250px;
    width: 100%;
}

.footer__card-title {
    color: $color-accent;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 140%;
    text-transform: uppercase;
    padding-bottom: $spacing-small;
    border-bottom: 1px solid $color-accent;
    margin-bottom: $spacing-ultra-large;
    width: 100%;
}

.footer__card-link {
    font-size: $font-size-small;
    color: $color-accent;
    margin-bottom: $spacing-normal;
}

.footer__card-text {
    font-size: $font-size-small;
    color: $color-accent;
    margin-bottom: $spacing-medium;
}

.footer__card-img-box {
    display: flex;
    align-items: center;

    img {
        margin-right: $spacing-medium;
    }

    a {
        font-size: $font-size-small;
        color: $color-accent;
    }

}

.footer__img-scale {
    transition: $transition;
}

.footer__img-scale:hover {
    scale: 1.5;
}

.footer__link-hover {
    position: relative;
}

.footer__link-hover::before {
    content: '';
    position: absolute;
    transition: $transition;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $color-accent;
}

.footer__link-hover:hover::before {
    width: 100%;
}

.footer__card-link-phone {
    margin: $spacing-medium 0;
}

.footer__copyright-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-size: $font-size-small;
    color: $color-accent;
    padding: $spacing-medium 0;
    border-top: 1px solid $color-accent;

    a {
        font-size: $font-size-small;
        color: $color-accent;
    }
}

.footer__copyright-made {
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {
    .footer__main-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__card {
        width: 100%;
        padding: $spacing-normal;
        align-items: center;
    }

    .footer__card-title {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .footer__copyright-box {
        a {
            text-align: center;
            padding: $spacing-small 0;
            width: 50%;
        }

        p {
            text-align: center;
            width: 50%;
        }
    }

}

@media screen and (max-width: 480px) {
    .footer__copyright-box {
        a {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }
}