.footer {
    padding-top: 80px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__main-box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.footer__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 250px;
    width: 100%;
}

.footer__card-title {
    color: $color-accent;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 140%;
    text-transform: uppercase;
    padding-bottom: $spacing-small;
    border-bottom: 1px solid $color-accent;
    margin-bottom: $spacing-ultra-large;
    width: 100%;
}

.footer__card-link {
    font-size: $font-size-small;
    color: $color-accent;
    margin-bottom: $spacing-normal;
}

.footer__card-text {
    font-size: $font-size-small;
    color: $color-accent;
    margin-bottom: $spacing-medium;
}

.footer__card-img-box {
    display: flex;
    align-items: center;

    img {
        margin-right: $spacing-medium;
    }

    a {
        font-size: $font-size-small;
        color: $color-accent;
    }

}

.footer__img-scale {
    transition: $transition;
}

.footer__img-scale:hover {
    scale: 1.5;
}

.footer__link-hover {
    position: relative;
}

.footer__link-hover::before {
    content: '';
    position: absolute;
    transition: $transition;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $color-accent;
}

.footer__link-hover:hover::before {
    width: 100%;
}

.footer__card-link-phone {
    margin: $spacing-medium 0;
}

.footer__copyright-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-size: $font-size-small;
    color: $color-accent;
    padding: $spacing-medium 0;
    border-top: 1px solid $color-accent;

    a {
        font-size: $font-size-small;
        color: $color-accent;
    }
}

.footer__copyright-made {
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {
    .footer__main-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__card {
        width: 100%;
        padding: $spacing-normal;
        align-items: center;
    }

    .footer__card-text {
        text-align: center;
    }

    .footer__card-title {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .footer__copyright-box {
        a {
            text-align: center;
            padding: $spacing-small 0;
            width: 50%;
        }

        p {
            text-align: center;
            width: 50%;
        }
    }

}

@media screen and (max-width: 480px) {
    .footer {
        padding-top: 30px;
    }
    .footer__card {
        max-width: none;
        width: 100%;
    }

    .footer__copyright-box {
        a {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }
}


@media screen and (max-width: 375px) {

    .footer__main-box {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    .footer__card {
        transition: 2s;

        a,
        p,
        div {
            opacity: 0;
            height: 0px;
            transition: $transition;
            margin: 0;
            // display: none;
        }

        .footer__card-title {
            transition: $transition;
            position: relative;
            font-size: $font-size-normal;
        }

        .footer__card-title::after {
            content: '';
            position: absolute;
            left: 0;
            top: calc(50% - 13px);
            width: 16px;
            height: 16px;
            background-image: url('../img/arrow.png');
            background-repeat: no-repeat;
            background-position: center center;
            transition: $transition;
        }

        .footer__card-title::before {
            content: '';
            position: absolute;
            right: 0;
            top: calc(50% - 13px);
            width: 16px;
            height: 16px;
            transform: rotate(180deg);
            background-image: url('../img/arrow.png');
            background-repeat: no-repeat;
            background-position: center center;
            transition: $transition;
        }
    }

    .footer__card.footer-card-active {

        a,
        p,
        div {
            opacity: 1;
            height: auto;
            margin-bottom: $spacing-normal;
            display: flex;

            img {
                margin-bottom: $spacing-normal;
            }
        }

        .footer__card-social-link {
            img {
                margin-bottom: 0;
            }
        }

        .footer__card-social-link:last-child {
            img {
                margin: 0;
            }
        }

        .footer__card-title {
            border-bottom: 1px solid transparent;
        }

        .footer__card-title::before,
        .footer__card-title::after {
            transform: rotate(90deg);
        }
    }
}