.our-salons {
    background-image: -webkit-image-set(
        url(../img/second-bg.webp) 1x,
        url(../img/second-bg@2x.webp) 2x,
    );
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.our-salons__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.our-salons__sub-title {
    font-size: $font-size-ultra-large;
}
.our-salons__title {
    margin: $spacing-normal 0 $spacing-ultra-large 0;
    font-weight: 700;
    font-size: $font-size-title;
    line-height: 41px;
}
.our-salons__text {
    font-size: $font-size-large;
    max-width: 730px;
    text-align: center;
    margin-bottom: 60px;
}
