/***************************************************
SCROLL
/***************************************************/

/* Firefox */
* {
    scrollbar-color: rgba(255, 255, 255, 0.7);
    scrollbar-width: thin;
}

/* Chrome */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, .7);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255, 0.7);
}

::-webkit-scrollbar-corner {
    background-color: rgb(255, 255, 255, 0.7);
}