.social-media {
    margin-bottom: 150px;
}

.social-media__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.social-media__sub-title {
    color: $color-accent;
}

.social-media__title {
    color: $color-accent;
    margin-top: 15px;
    margin-bottom: 60px;
}

.social-media__first-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social-media__video-box {
    position: relative;
    cursor: pointer;
    width: 555px;
    height: 300px;
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 555px;
        height: 300px;
    }
}

.social-media__video-play {
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
}

.social-media__second-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .social-media__content {
        width: 768px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .social-media__content {
        width: auto;
    }

    .social-media__video-box {
        max-width: 277px;
        height: 150px;
        video {
            max-width: 277px;
            height: auto;
        }

    }

    .social-media__first-row {
        flex-direction: column;
    }

    .social-media__second-row {
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {
    .social-media {
        margin-bottom: $spacing-ultra-large;
    }
}