.useful-articles {
    margin: 120px 0;
}

.useful-articles__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.useful-articles__sub-title {
    color: $color-accent;
}

.useful-articles__title {
    color: $color-accent;
    margin: $spacing-normal 0 $spacing-ultra-large 0;
}

.useful-articles__card-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.useful-articles__card-item {
    max-width: 350px;
    width: 100%;
    height: 370px;
    position: relative;
    background-image: $cart-bg-gradient;
    margin-bottom: 60px;
    cursor: pointer;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: $transition;
    }

    p {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: $spacing-ultra-large;
        font-size: $font-size-ultra-large;
        padding: 0 $spacing-normal;
    }
}

.useful-articles__card-item:hover {
    img {
        scale: 1.04;
    }
}

@media screen and (max-width: 1100px) {
    .useful-articles__card-list {
        flex-direction: column;
    }

    .useful-articles__card-item {
        margin-bottom: $spacing-medium;
        box-shadow: 0 0 15px $color-black-op;
    }
}

@media screen and (max-width: 480px) {
    .useful-articles {
        margin-top: $spacing-ultra-large*2;
        margin-bottom: $spacing-ultra-large*2;
    }
    .useful-articles__card-item {
        height: 280px;
        width: 265px;

        img {
            height: 280px;

        }
    }
}