$color-main-bg: #E5E5E5;
$color-white: #ffffff;
$color-light-grey: #D6D6D6;
$color-hard-grey: #979797;
$color-accent-op: #333333c6;
$color-accent: #333;
$color-black: #000000;
$color-black-op: #00000062;

//fonts
$font-size-ultra-small: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 18px;
$font-size-ultra-large: 22px;
$font-size-sub-title: 24px;
$font-size-title: 36px;

//spacing
$spacing-ultra-small: 5px;
$spacing-small: 10px;
$spacing-normal: 15px;
$spacing-medium: 20px;
$spacing-large: 25px;
$spacing-ultra-large: 30px;

$cart-bg-gradient: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%);

$transition: .3s;