.product {
    color: $color-accent;
    margin: $spacing-ultra-large 0;
}
.product__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.product__content-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.img-box {
    cursor: pointer;
    margin-top: $spacing-ultra-large;
    img {
        width: 160px;
        height: 130px;
    }
}
.img-box.main-photo {
    margin-top: 0;
    img {
        width: 540px;
        height: 430px;
    }
}
.product__content-info {
    padding: $spacing-small;
    border: 1px solid $color-hard-grey;
    margin-left: $spacing-ultra-large;
}
.product__content-info-wrapper {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    padding: $spacing-ultra-large;
    border: 1px solid $color-hard-grey;
}
.product__content-info-title {
    text-align: left;
    
}
.product__sub-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $color-hard-grey;
}
.product__sub-info-item {
    margin-right: $spacing-large;
}
.product__info {
}
.product__info-price {
    font-weight: 600;
    font-size: 24px;
    line-height: $font-size-sub-title;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-accent;
}
.product__payment-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.product__payment-item {
    margin-right: $spacing-ultra-large;
}