.more-information__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}

.more-information__text-block {
    max-width: 540px;
    position: relative;

    p {
        color: $color-accent;
        z-index: -1;
    }

    span {
        position: absolute;
        left: 0;
        bottom: 0;
        color: $color-accent;
        z-index: 2;
        text-decoration: underline;
        font-weight: 500;
        font-size: $font-size-large;
        line-height: 21px;
        letter-spacing: 0.1em;
        cursor: pointer;
        transition: 2s;
    }
}

.more-information__text-block::before {
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-image: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, $color-main-bg 82.29%);
}

.more-information__img-block {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-block__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.img-block__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $spacing-large;
    
    p {
        display: inline-block;
        text-align: center;
        max-width: 130px;
        color: $color-accent;
        margin-top: $spacing-small;
    }
    img {
        display: inline;
    }
}